<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Movie App</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="">Hidden brand</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'contact' %}"
                tabindex="-1"
                aria-disabled="true"
                >Info</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <br />
    <br />

    <center>
      <h1>Welcome To HomePage {{ name }}</h1>
    </center>

    <section class="search container">
      <form>
        <label class="form-label">Search For Movie</label>
        <div class="mb-3 d-flex gap-3">
          <input type="text" class="form-control" name="searchTitle" />
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
      
        <h2>Searching For {{ search }}</h2>

        {% comment %} For Loop For Dispalying INfo Of MoviesApp{% endcomment %}

      <div class="d-flex gap-3">
        {% for movie in movies %}
        
          <div class="card" style="width: 19.5rem;">
            <img src='{{movie.img.url}}' alt={{movie.title}}>
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text">{{movie.desc}}</p>
              {% if movie.url %}
              <h3><a href="{{movie.url}}" target=_blank class="btn btn-primary">More Details</a></h3>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <!-- Scripts -->
  </body>
</html>
